@model List<Topic>
<h2>Profile page</h2>

<a class="nav-link text-dark" asp-controller="Topic"
   asp-action="Create">
    Create new topic
</a>
@foreach (var item in Model)
{
    <a href="#" class="list-group-item list-group-item-action " aria-current="true">
       
            <h5 class="mb-1">@item.Name</h5>
            <a asp-controller="Topic" asp-action="Edit" asp-route-id="@item.TopicId">Edit</a> |
            <a asp-controller="Topic" asp-action="Details" asp-route-id="@item.TopicId">Details</a> |
            <a asp-controller="Topic" asp-action="Delete" asp-route-id="@item.TopicId">Delete</a>

        
    </a>
}