
<h2>Profile page</h2>
<a class="nav-link text-dark" asp-controller="Account"
                  asp-action="ShowInfo">
                   <button type="button" class="btn btn-primary">Primary</button>
               </a>
