html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}
.caption {
   display: block;
 }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}